*{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color :#10cab7;
    --secondary-color: #2c4755;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
.container{
    padding-left:15px ;
    padding-left: 15px;
    margin-left:auto ;
    margin-right: auto;
}
.header .container{
    display: flex;
    justify-content: space-between;
}

.header {
    padding : 20px;
}
/* 3 pars */
 .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: 2s;
    transition-delay:.5s ;
} 
.links .icon span{
    background-color: #333;
    height: 2px;
    margin-bottom: 4px;
    width: 100%;   
}
.links .icon span:nth-child(2){
    width: 60%;   
    transition: 1s;
}
/* twice bar effect */
.links:hover  span:nth-child(2){
    width: inherit;
    
}
/* rotate effect */
.links:hover .icon{
transform: rotate(90deg);
}
/* set position */
.container .logo{
    width: 50px;
    
}
.container .links{
    position: relative;
    
}
/* list og links */
.links ul {
    list-style: none;
    margin: 0;
    padding:2px 5px;
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    background-color: #f9f9f9;
    min-width: 250px;
    border-radius: 5px;
    display: none;
    z-index: 1;
    transition: .5s;
}
.links ul::before{
content: "";
border-width: 12px;
border-style: solid;
border-color: transparent transparent #918d898a transparent;
position: absolute;
right: 5px;
top: -24px;
}
.links ul li a{
    text-decoration: none;
    display: block;
    margin :25px 2px 2px;
    font-size: 20px;
    transition: .5s;
    color: #333;
}
.links ul li:not(:last-child) a
{
    border-bottom: 1px #918d89ad solid;
}
.links ul li:hover a{
padding-left: 20px;
}
/* show the links */
.links:hover ul{
    display: block;
}
/* landing */
.landing{
    background-image: url(../image/mmm.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    position: relative;
}
 .landing .text{
    text-align: center;
    width: 500px;
    max-width: 100%;
   position: absolute;
   left: 50%;
  top: 50%;
   transform: translate(-50% , -50%);
  
}
.text h1{
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
    line-height: 2em;
    font-size: 4em;
}
.text  p{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
   
}
    /* .features */
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 20px;
}
@media (max-width: 768px) {
    .features .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.features .container .feat{
    padding: 20px 0;
    margin: 40px 0;
    text-align: center;

}
.features .container .feat i ,.features .container .feat h3{
    color: var(--main-color);
}
.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  /* end .features */

  /* start services */
  
  .special-heading{

      color: #cbcbcc;
      padding-top:50px ;
      margin-top: 100px ;
      text-align: center;
      font-size: 90px;
      font-weight: 800;
      letter-spacing: -3px;
  }
  .special-heading + p{
    color: #777 ;
    margin-top: -98px ;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
  
  .services .services-col{
      display: grid;
      margin-top: 100px;
      grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 50px;
  }
  .services .services-col .col{
      display: grid;
  }
  .services .services-col .srv{
      display: flex;
      margin-bottom: 50px;
    

  }
  .services .services-col .srv i {
      flex-basis: 60px;
      color: var(--main-color);
  }
  .services .services-col .srv .text{
      flex: 1;
  }
  .services .services-col .srv .text h3{
    margin-top: 0;
    margin-bottom: 25px;
  }
  .services .services-col .srv .text p{
      line-height: 1.6 ;
      font-size: 15px;
      color: #777;
  }
  .services .services-col .image{
      text-align: center;
      position: relative;
      width: 280px;
      height: 350px;
      
  }
  .services .services-col img{
    width: 280px;
    height: 350px;
}
   .services-col .col .image::after{
       content:"";
      background-color: var(--secondary-color);
      width: 100px;
      height: calc(100% + 100px);
      position: absolute;
      right: -40px;
      top: -50px;
      z-index: -1;
      
  }
  
/* end services */

/* start portfolio */
.portfolio{
    background-color: #f6f6f6;
}
.porteee{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
    padding: 50px;
   
}
.porteee .port{
    background-color: white;
}
.porteee .port img{
    max-width: 100%;
}
.porteee .port h3{
    margin-left:10px ;
}
.porteee .port p{
    margin-left:10px ;
    color: #777;
    line-height: 1.6;
}
/* end portfolio */

/* start about */
.aboutcol{
    /*  display:flex; */
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 100px;

}
.aboutcol img{
    width: 230px;
    height: 375px;
} 
.aboutcol .image{
    text-align: center;
    position: relative;
    margin: 0 10px;
}  

.aboutcol .image::before{
content:"" ;
width: 60px;
height: calc(100% + 40px);
background-color: #b1aeae;
position: absolute;
left: -20px;
top:-20px;
z-index: -1;
}
.aboutcol .image::after{
 content:"" ;
 position: absolute;
 width: 110px;
 height: 71%;
 border-left: 60px solid var(--main-color);
 border-bottom: 60px solid var(--main-color);
 top: -7%;
 right: -140px;
 z-index: -1;
}

.aboutcol .text{
    margin-left: 250px;
}

.aboutcol .text p:first-child{
    line-height: 2;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: bold;
}
.aboutcol .text hr{
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);

}
.aboutcol .text p:last-child{
    line-height: 2;
    margin-top: 40px;
    color: #777;
}

/* end about */
/* start contact */
    .contact .text{
        text-align: center;
        margin: 120px 0 40px;
    }
    .contact .text h2{
        color: var(--secondary-color);
        font-size: 40px;
        letter-spacing: -3px;
        font-weight: 800;
        margin: 0;

    }
    .contact .text h2 + a{
        color: var(--main-color);
        display: block;
        font-size: 40px;
        letter-spacing: -3px;
        text-decoration: none;
        font-weight: 900;
        margin-top: 20px;
    }
    .contact .social{
        text-align: center;
        margin-top: -10px;
        color: var(--secondary-color);
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .contact .social i{ 
        display: inline-block;
        margin: 0 3px;
        color: var(--secondary-color);
        
    }

    /* end contact */

    /* start footer */
    footer{
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 25px 0;
    margin: 100px 0 0;
}
footer span {
    color: var(--main-color);
}

    /* start footer */